*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000718; 
}

.shadow{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
form{
    padding: 20px 15px 27px 0px;
}
#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    /* width:1100px; */
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}

.form-wrap{
    width:65%;
    /* float: right; */
    padding:40px 25px 35px 25px;
    border-radius: 30px 30px 30px 30px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.4px;
    font-weight: 500;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#000;
    padding: 12px 10px 12px 5px;
    width:100%;
    /* font-weight: 500; */
}
.form-fields textarea::-webkit-scrollbar {
    display: none;
  }
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 96%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
/* .form-fields .form-group:last-child {
    width: 96%;
} */
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 25px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#000;
    text-align: center;
    background: #ccccef;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #ccc9ee;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}